<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Sistema De Juego</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="alert text-center">
                <h1 class="display-4">Sistema de plataforma de ventas</h1>
            </div>
        </div>
    </div>

    <h2 class="text-center">Bienvenido a nuestro sistema</h2>
    <p class="text-center">Aquí puedes gestionar tus juegos de manera sencilla y rápida.</p>

    <h2 class="text-center">Funciones principales</h2>
    <p class="text-center">Explora nuestras funciones para añadir, listar y administrar tus juegos favoritos.</p>

    <div class="row">
        <div class="col-md-4 text-center">
            <a href="{% url 'listadojuego' %}" class="btn">Lista de Juegos</a>
            <a href="{% url 'agregarjuego' %}" class="btn">Agregar Juego</a>
            <a href="/AgregarJugadores.html" class="btn btn-info">Agregar Jugadores</a>
            <a href="/ListaJugadores.html" class="btn btn-info">Listado de jugadores</a>
            <a href="/ListaSistemas.html" class="btn btn-info">Listado de Sistemas</a>
            <a href="/AgregarSistema.html" class="btn btn-info">Agregar Sistemas</a>
        </div>
        <div class="col-md-4 text-center">
            <!-- API Buttons -->
            <a href="{% url 'juegoapi1' %}" class="btn btn-secondary">API Lista de Juegos</a>
            <a href="{% url 'juegoapi2' pk=1 %}" class="btn btn-secondary">API Detalle Juego (PK 1)</a>
            <a href="{% url 'jugadorapi1' %}" class="btn btn-secondary">API Lista de Jugadores</a>
            <a href="{% url 'jugadorapi2' pk=1 %}" class="btn btn-secondary">API Detalle Jugador (PK 1)</a>
            <a href="{% url 'sistemaapi1' %}" class="btn btn-secondary">API Lista Sistema</a>
            <a href="{% url 'sistemaapi2' pk=1 %}" class="btn btn-secondary">API Detalle Sistema (PK 1)</a>
        </div>
    </div>

    <h2 class="text-center">Soporte y Contacto</h2>
    <p class="text-center">Si necesitas ayuda, no dudes en contactarnos a través de nuestro sistema de soporte.</p>

    <footer>
        &copy; 2024 Mega Sistema De Juego. Todos los derechos reservados.
    </footer>
</body>
</html>
